<!DOCTYPE html>
<html>
<head>

<link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'/ >
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyAVodfFIc_sIDjD6n4_gnwhSciv75BtNX0&libraries=places" %>
   <%= stylesheet_link_tag    'application', media: 'all' %>
   <%= csrf_meta_tags %>
   <%= javascript_include_tag 'application' %>

  <title>Apartrue</title>
</head>
<body>

<%= yield %>

</body>
</html>
